@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,400,700|Oswald:600&display=swap&subset=korean');


@media screen and (max-width:768px){
	#wrap{min-width:100%;margin: 0;}
	
	/*header*/
	header{min-width:100%;}
	header>.home{background-size: cover;}
	header>.home>.home_container{width: 100%; height: 100%; margin: 0;}	
	
	
	/*section*/
	section{width: 100%;}
	section>h2.main{left: 0;margin-left:0;width: 100%; font-size: 30px;}
	
	/*section - aboutme*/
	.aboutme>.profile{width: 100%;}
	.aboutme>.profile>.aboutme_profile>.aboutme_profile_img{width: 250px;height: 250px; background-size: cover;}
	
	
	/*section - merit*/
	.aboutme>.merit{height: auto;}
	.aboutme>.merit>.mymerit>ul>li{
	font-size: 100px;}
	.aboutme>.merit>.mymerit>ul>li:hover{font-size: 120px;}
	.aboutme>.merit>.mymerit>ul>li:nth-of-type(1){top: 30%;}
	.aboutme>.merit>.mymerit>ul>li:nth-of-type(2){top: 60%;}
	.aboutme>.merit>.mymerit>ol>li:first-of-type{width: 200px; height: 179px; background-size: cover; left: 10%;}
	.aboutme>.merit>.mymerit>ol>li:last-of-type{top:80%;width: 220px; height: 155px; background-size: cover;}
	
	/*section - skiils*/
	.aboutme>.skills{width: 100%;}
	.aboutme>.skills>h2.sub_main{text-align: center;}
	.aboutme>.skills>.chart{margin-left: 33px;}
	.aboutme>.skills>.chart:first-of-type{margin-left: 33px;}
	.aboutme>.skills>.chart:nth-of-type(4){margin-left: 126px;}
	.aboutme>.skills>.chart:nth-of-type(4),
	.aboutme>.skills>.chart:nth-of-type(5){padding-top: 30px;}
	
	/*section - story*/
	.story{min-width:100%;}
	.story>h2.main{position: absolute; top: 0; text-align: center;}
	.story>.story_home>.story_info{top: 300px;}
	.story>.story_home>.story_info>li{font-size: 40px;}
	.story>.story_home>.go{top: 550px;}
	
	/*라이트박스*/
	div.lightbox{max-width: 768px; height: 400px; margin-left: -384px;}
	div.lightbox>img{width: 100%;}	
	
	
	/*section - portfolio*/
	.portfolio{width: 100%; overflow: hidden;}
	.portfolio>h2.main{top: 0px;}
	.portfolio>.portfolio_slides{top: 75px;height: 800px;}
	.portfolio>.portfolio_slides>.portfolio_slides-container>li>.portfolio_img{float: none;margin-left: 25px;}
	.portfolio>.portfolio_slides>.portfolio_slides-container>li>.portfolio_txt{position: relative;left: 75px;bottom: 0;max-width:768px;text-align: center;}
	.portfolio>.portfolio_slides>.portfolio_slides-container>li>.portfolio_txt>h2{font-size: 24px; text-align: center;}
	.portfolio>.portfolio_slides>.portfolio_slides-container>li>.portfolio_txt>p{font-size: 16px; padding: 10px 0; }
	.portfolio>.portfolio_slides>.portfolio_slides-container>li>.portfolio_txt>a{margin-top: 20px;}
	.portfolio>.portfolio_slides>.portfolio_slides-container>li:nth-of-type(4)>.portfolio_txt>a{margin-top: 15px;}
	
	.portfolio>.portfolio_slides>.portfolio-pagination>li:before{padding: 0 10px;}
	.portfolio>.portfolio_slides>.portfolio-pagination{margin-left: -286.5px;}
	.portfolio>.portfolio_slides>.portfolio-pagination>li{font-size: 18px;}
	
	.portfolio>.portfolio-grid-wrap{min-width: 100%; height: 5200px;}
	.portfolio>.portfolio-grid-wrap>.grid{width: 100%;}
	
	/*section - contact*/
	.contact{width: 100%; height: 685px;}
	.contact>.home_project{top: 0; margin-top: 15px;left: 50%;}
	.contact>.home_project>a.ico{width: 54px; height: 54px;}
	.contact>.home_project>a.ico:hover{background-position: 0 -54px;}
	.contact>.contact_profile{width: 100%; padding-top: 150px;}
	.contact>.contact_profile>.contact_profile_img{position:inherit;float: none; width: 250px; height: 250px; background-size: cover; margin: 0 auto;}
	.contact>.contact_profile>.contact_info{width: 100%; height: 200px;}
	.contact>.contact_profile>.contact_info>li{border: none; width: 100%; height: 70px;border-top: 1px solid #828282;border-bottom: 1px solid #828282; margin-top: 0;}
	.contact>.contact_profile>.contact_info>li:nth-child(1),
	.contact>.contact_profile>.contact_info>li:nth-child(2)
	{border-bottom: none;}
	.contact>.contact_profile>.contact_info>li>p.contact_ico{width: 70px; height: 45px;background-size: cover;}
	.contact>.contact_profile>.contact_info>li:nth-child(2)>p.contact_ico{top: 6px;width:60px; height: 60px;}
	.contact>.contact_profile>.contact_info>li:nth-child(3)>p.contact_ico{width: 60px; height: 55px; left: 15px;}	
	
	.contact>.contact_profile>.contact_info>li>p{text-align: center; line-height: 70px; font-size: 22px; font-weight: 100;}
}