@charset "utf-8";
/*noto sans 300 (light)*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,700&display=swap&subset=korean');


body{font-family: 'Noto Sans KR','Malgun Gothic','맑은 고딕','Apple SD Gothic Neo','돋움',dotum, sans-serif; color: #666;}

::selection{background-color:rgba(255,238,51,0.99);}
#wrap{}


/*header*/
header{position: fixed;width: 100%; height: 65px;z-index: 100;}

header.on{border-bottom: 2px solid #d4d4d4; background-color: #fff; color: #1e1e1e;}

.header_container{min-width: 1440px; width: 100%;height: 65px; margin: 0 auto;}
.header_container>.logo{position: absolute; left: 20px; top: 10px; width: 124px; background-image: url(../images/logo_white.png); background-repeat: no-repeat;}
.header_container>.logo>a{display: block; height: 65px; text-indent: -9999px;}
.header_container>nav{position: relative; left: 0; top: 0;width: 100%;}
.header_container>nav>.gnb{margin-left:38%;}
header>.header_container>nav>.gnb>li{float: left;margin-left: 30px;font-size: 18px; font-family: 'Noto Sans KR',sans-serif; font-weight: 400;}
.header_container>nav>.gnb>li:first-child{margin-left: 0;}
.header_container>nav>.gnb>li>a{position: relative;display: block; height: 65px;  color: #fff;  line-height: 65px;}
.header_container>nav>.gnb>li>a>.line{display: none;position: absolute;left:0;bottom: -1px;width: 100%;height: 2px; background-color: #1e1e1e;}
.header_container>nav>.gnb>li:hover>a>.line{display: block;}
.header_container>nav>.gnb>li:nth-child(5)>a>.link{position: absolute; right: -18px; bottom: 26px;width: 13px; height: 13px; background-image: url(../images/ico_corp_181031.png); background-position: -175px 0; text-indent: -9999px;}

.header_container>nav>.lang{position: absolute;right: 20px; top: 0;}
.header_container>nav>.lang>li{float: left;font-size: 18px; padding: 0 8px; line-height: 65px;}
.header_container>nav>.lang>li>a{color: #fff;}




/*header_sub*/
.header_container>nav>.gnb>li>.sub{display: none;position: absolute; left: 0; top: 67px; z-index: 1000;width: 100%; background-color: #fff; border-bottom: 1px solid #d4d4d4;}
.header_container>nav>.gnb>li.on>.sub{display: block;}
/*전체 공통*/

.header_container>nav>.gnb>li>.sub>.sub_container{width:1240px; min-height:340px; margin: 0 auto;}
.header_container>nav>.gnb>li>.sub>.sub_container>li{float: left;width: 12.5%; min-height: 340px; text-align: center;padding: 50px 40px 0; font-weight: 700; border-left: 1px solid #d4d4d4;}
.header_container>nav>.gnb>li>.sub>.sub_container>li:last-child{border-right: 1px solid #d4d4d4;}

/*2번째*/
.header_container>nav>.gnb>li:nth-of-type(2)>.sub>.sub_container>li{width: 11%; padding: 50px 18px 0;}

.header_container>nav>.gnb>li>.sub>.sub_container>li>a{}
.header_container>nav>.gnb>li>.sub>.sub_container>li>.tit_sub{padding-top: 20px;}
.header_container>nav>.gnb>li>.sub>.sub_container>li>.tit_sub>li{padding-top: 10px;font-weight: 300; font-size: 16px;}
.header_container>nav>.gnb>li>.sub>.sub_container>li>.tit_sub>li:first-child{padding-top:0;}
.header_container>nav>.gnb>li>.sub>.sub_container>li>.tit_sub>li>a{}




/*section*/
section{}
section>.main_slides{position: relative;min-width:1440px;width: 100%;height: 842px;}
section>.main_slides>.slides-container{position: relative; width: 100%;height: 842px;}

section>.main_slides>.slides-container>li{display: none;position: absolute;width: 100%; height: 100%; background-size: cover;}
section>.main_slides>.slides-container>li.on,section>.main_slides>.slides-container>li:nth-child(1){display: block;}
section>.main_slides>.slides-container>li:nth-child(1){background-image: url(../images/main_slides_1.jpg);}
section>.main_slides>.slides-container>li:nth-child(2){background-image: url(../images/main_slides_2.jpg);}
section>.main_slides>.slides-container>li:nth-child(3){background-image: url(../images/main_slides_3.jpg);}
section>.main_slides>.slides-container>li:nth-child(4){background-image: url(../images/main_slides_4.jpg);}

section>.main_slides>.slides-container>li:nth-child(4)>p{text-shadow: none; color: #1e1e1e;}
section>.main_slides>.slides-container>li:nth-child(4)>button{top: 37%;}

/*슬라이드 공통*/
section>.main_slides>.slides-container>li>p{position: absolute;left:100px; top: 20%;font-size: 30px; font-weight: 700;color: #fff; text-shadow: 2px 2px 2px #1C1C1C;}
section>.main_slides>.slides-container>li>button{border: none;outline: none; background: none;position: relative; left: 100px;top: 35%; background-color: #fff; height: 38px; line-height: 38px;padding:0px 45px 0px 18px; font-size: 16px;  }
section>.main_slides>.slides-container>li>button>span{display: block;position: absolute; right: 10px; top: 15px;width: 6px;height: 10px; background-image: url(../images/ico_corp_181031.png); background-position: -115px -65px;}


/*next-prev*/
section>.main_slides>button{position: absolute;top: 50%; margin-top: -40px;background: none; outline: none; border: none; width: 40px; height: 40px; background-image: url(../images/ico_corp_181031.png); text-indent: -9999px;}
section>.main_slides>button.next{right: 0;background-position: -205px -110px; }
section>.main_slides>button.prev{left: 0;background-position: -155px -110px;}

/*slids-pagination*/
section>.main_slides>.slides-pagination{position: absolute; bottom: 20px; left: 50%; display: flex; justify-content: space-between; width: 220px; height: 6px; margin-left: -110px;}
section>.main_slides>.slides-pagination>li{width: 40px; background-image: url(../images/btn.gif);}
section>.main_slides>.slides-pagination>li>a{display: block;height: 6px; text-indent: -9999px;}
section>.main_slides>.slides-pagination>li.on>a,section>.main_slides>.slides-pagination>li:hover>a{background-image: url(../images/btn.gif);background-position: 0 -26px;}


/*main_info*/
.main_info{position: relative;width: 100%; height: 1650px;}
.main_info>.bg_container{position: relative;width: 1440px; height: 400px; margin: 0 auto;}
.main_info>.bg_container>.bg_kakao{position: absolute; left: 150px; bottom: 50px;width: 380px; height: 285px; background-image: url(../images/hello_bg.png);}
.main_info>.bg_container>.bg_kakao>h2{position: absolute; top: 25%; left:150px;color: #1e1e1e;font-size: 48px; font-weight: 700;}


.main_info>.bg_container>.bg_niniz{
	position: absolute; bottom: 0px;
		right:0; z-index: 10;width: 582px; height: 224px; background-image: url(../images/niniz.png); text-indent: -9999px;}


.main_info>video{width: 100%;  border-top: 2px solid #1e1e1e; box-sizing: border-box;}
.main_info>.mov_info{position: absolute;left: 0;bottom:0; width: 100%;height: 200px;background-color:#ffcd00;}
.main_info>.mov_info>p{width: 1440px; margin: 0 auto; padding-top: 60px; font-size: 20px;}
.main_info>.mov_info>button{background: none; outline: none; border: none;position: absolute; bottom: 50px; right: 10%; width: 200px; height: 85px; background-color: #56687c; color: #ffcd00;font-size: 18px; line-height: 85px; font-weight: 700; border-radius: 50px;}



/*main-container-공통*/
.main_container>div{width: 1440px; margin: 0 auto;}
.main_container>div>h2{margin: 50px 0 20px; font-size: 20px;}

/*main_container - news*/

.main_container{}
.main_container>.news>.news_container{display:flex; justify-content: space-between; width: 1440px;}
.main_container>.news>.news_container>li{position: relative;width: 400px; height: 400px;background-size: cover; background-repeat: no-repeat;}
.main_container>.news>.news_container>li:nth-child(1){background-image: url(../images/news_1.jpg);}
.main_container>.news>.news_container>li:nth-child(2){background-image: url(../images/news_2.jpg);}
.main_container>.news>.news_container>li:nth-child(3){background-image: url(../images/news_3.jpg); border: 1px solid #1e1e1e; box-sizing: border-box;}
.main_container>.news>.news_container>li>a{display: block; height: 400px; text-indent: -9999px;}
.main_container>.news>.news_container>li>p{position: absolute;text-align: center;bottom: 30px; left: 50%;font-size: 17px; font-weight: 100;cursor: pointer;}
.main_container>.news>.news_container>li:nth-child(1)>p{margin-left: -75.5px;}
.main_container>.news>.news_container>li:nth-child(2)>p{margin-left: -95.5px;}
.main_container>.news>.news_container>li:nth-child(3)>p{margin-left: -88.5px;}


/*main_container - sub_news*/

.main_container>.sub_news{margin-top: 50px;}
.main_container>.sub_news>.sub_news-container{}
.main_container>.sub_news>.sub_news-container>li{float: left;width: 700px;}
.main_container>.sub_news>.sub_news-container>li:last-child{margin-left: 40px;}
.main_container>.sub_news>.sub_news-container>li>.frame{position: relative; width: 700px;}
.main_container>.sub_news>.sub_news-container>li>.frame:before{display: block; position: absolute; left: 25px; top: 20px; color: #1c1c1c;font-size: 16px; font-weight: 400;content: 'SERVICE';}
.main_container>.sub_news>.sub_news-container>li:last-child>.frame:before{color: #fff; content: 'CAREER';}
.main_container>.sub_news>.sub_news-container>li>h3{padding: 10px 0; font-size: 22px;}
.main_container>.sub_news>.sub_news-container>li>h3:hover{text-decoration: underline;}
.main_container>.sub_news>.sub_news-container>li>p{font-size: 14px; font-weight: 100; }







/*main_container - social-impact*/

.main_container>.social-impact{}
.main_container>.social-impact>.social-impact_container{display: flex; justify-content: space-between; width: 1440px; height: 525px;}
.main_container>.social-impact>.social-impact_container>li{position: relative;width: 700px; height: 525px;}
.main_container>.social-impact>.social-impact_container>li>h3{margin: 20px 0 15px; font-size: 18px;}
.main_container>.social-impact>.social-impact_container>li>p{font-size: 16px; font-weight: 100; line-height: 1;}
.main_container>.social-impact>.social-impact_container>li>.go{position: absolute; bottom: 0; right: 12px;color: #666; font-weight: 100; font-size: 14px;}
.main_container>.social-impact>.social-impact_container>li>.go:after{position: absolute; bottom: 5px; right: -12px;display: block; width: 10px; height: 9px; background-image: url(../images/ico_corp_181031.png); background-position: -40px -40px; content: '';}


/*main_container - more-info*/

.main_container>.more-info{position: relative;width: 1440px;margin: 0 auto 150px; height: 100%;}
.main_container>.more-info:after{display: block; position: absolute; right: 0; bottom: 0; width: 233px; height: 350px; background-image: url(../images/ryan.png); background-repeat: no-repeat; content: '';}
.main_container>.more-info>.more-info_container{position: relative;width: 1090px; display:flex; justify-content: space-between; margin-top: 50px;}
.main_container>.more-info>.more-info_container>li{width: 350px; height: 350px; background-color: #fddb00; border-radius: 350px; text-align: center;}
.main_container>.more-info>.more-info_container>li>a{font-size: 22px; line-height: 350px;}
.main_container>.more-info>.more-info_container>li:hover>a{text-decoration: underline;}






/*footer*/

footer{width: 100%; height: 78px; border-top:1px solid #666;}
footer>.footer_container{position: relative;width: 1440px; margin: 0 auto;}
footer .about{padding: 35px 0 25px;}
footer .about>li{position: relative;float: left; margin-left: 35px; color: #666;}
footer .about>li:first-child{margin-left: 0;}
footer .about>li>a{color: #666;font-weight: 300;}
footer .about>li.on>a,footer .about>li:hover>a{color: #1e1e1e;font-weight: 700;}
footer .about>li>a>span{position: absolute; right: -15px; top: 5px;display: inline-block;width: 11px; height: 6px; background-image: url(../images/ico_corp_181031.png); padding: 0 0 5px 2px; background-position: 0 -20px; color: #666; text-indent: -9999px;}
footer .about>li>a.on>span{background-position: -20px -20px;}
footer .about>li>.about-list{display: none;position: absolute;bottom: 18px; left: 0px; width: 120px; padding: 10px; border: 1px solid #666; background-color: #fff;}
footer .about>li:nth-child(3)>.about-list{width: 110px;}
footer .about>li>.about-list>li{position: relative; color: #666;font-weight: 300;}
footer .about>li>.about-list>li:after{position: absolute; right: 0; top: 1px;display: block;width: 13px; height: 13px; background-image: url(../images/ico_corp_181031.png); background-position: -155px 0; content: '';}
footer .about>li>.about-list>li>a{}

footer .site{position: absolute; right: 0; top: 20px;}
footer .site>h3{position: relative;font-weight: 300; width: 160px;border-bottom: 1px solid #666;}
footer .site>h3>a{display: block;height: 30px; line-height: 30px;}
footer .site>h3>a>span{display: inline-block;position: absolute; right: 25px; top: 10px; width: 11px; height: 11px; text-indent: -9999px; background-image: url(../images/ico_corp_181031.png); background-position: -60px -40px;}
footer .site>h3>a.on>span{right: 23px; top: 11px;background-position: -80px -40px;}
/*footer .site>h3:after:hover{}*/
footer .site>.site-list{display: none;position: absolute; bottom: 30px; padding: 20px 50px 20px 10px;background-color: #fff; border: 1px solid #666;}
footer .site>.site-list>li{padding-bottom: 8px; color: #1e1e1e; font-weight: 300;}
footer .site>.site-list>li:last-child{padding-bottom: 0px;}
footer .site>.site-list>li:hover{font-weight: 700;}
footer .site>.site-list>li>a{}