@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Gothic+A1:400,700|Noto+Sans+KR:300,400,500,700&display=swap&subset=korean');

body{font-family: 'Noto Sans KR', sans-serif; width: 100%; height: 100%; overflow-x: hidden; }
img{width: 100%; vertical-align: bottom;/*이미지 들뜸현상 방지*/}


#content_wrap{width: 100%;}

/*parallax css*/
.img-parallax {z-index: -1;position: absolute;top: 0;left: 50%; transform: translate(-50%,0);}


/*main_top : sns란*/
.main_top{display: block;position: relative;width: 100%; height: auto; background-image: url(../main_img/bg_home.jpeg); background-size: 100% auto; background-repeat:repeat-y; background-attachment: fixed;}
.main_top>.main_base{position: relative;width: 100%; min-width: 1300px; min-height: 852px;}
.main_top>.head{position: absolute; width: 130px;left: 20px; top: 10px; z-index: 1000;}
.main_top>.head>.sns{width: 100%;}
.main_top>.head>.sns>li{float: left;width: 32px; margin-left: 10px; background-size: contain;}
.main_top>.head>.sns>li:nth-child(1){margin-left: 0;}
.main_top>.head>.sns>li:nth-child(2){background-image: url(../main_img/icon_fb_off.png);}
.main_top>.head>.sns>li:nth-child(3){background-image: url(../main_img/icon_tw_off.png);}
.main_top>.head>.sns>li>a{display: block; height: 32px; text-indent: -9999px;}

/*sns_hover시*/
.main_top>.head>.sns>li:hover:nth-child(2){background-image: url(../main_img/icon_fb_on.png);}
.main_top>.head>.sns>li:hover:nth-child(3){background-image: url(../main_img/icon_tw_on.png);}

.main_top>.twt{position: absolute; right: 1%;top: 0; z-index: 100;width: 10%; height: 7.5%;background-image: url(../main_img/twitter_off.png); background-size: cover; background-repeat: no-repeat; min-width:40px;}
.main_top>.twt>a{display: block; text-indent: -9999px;}

/*twt_hover시*/
.main_top>.twt:hover{background-image: url(../main_img/twitter_on.png);}

/*로고*/
.main_top>.main_logo{position: absolute; left: 2%; top: 8%; width: 34%; min-width:408px; min-height: 320px;z-index: 130;}
.main_top>.main_logo>li{position: absolute;}
.main_top>.main_logo>.award{left: 50%; margin-left: -34%; top: -8%;width: 70%;}
.main_top>.main_logo>.m_logo{top: 10%;}
.main_top>.mv_type{position: absolute;left: 11.5%; top: 43%;width: 15%;}

/*포스터*/

.main_top>div.poster{position: absolute;}
.main_top>.mv_bg{right: 12.4%; top: 0;width: 52.25%; z-index: 100; min-width: 678px;}
.main_top>.mv_lupin{right: 26%; top: 13%;width: 22%; z-index: 1000; min-width: 324px;}
.main_top>.mv_jigen{left: 28%; top: 20%; z-index: 140; width: 25%; min-width: 326px;}
.main_top>.mv_goemon{right: 13%; top: 34%; z-index: 200; width: 12.5%; min-width: 196px;}
.main_top>.mv_fujiko{left: 34.7%; top: 32.5%;  z-index: 250;width: 16.3%; min-width: 212px;}
.main_top>.mv_zenigata{right: 12%; top: 16%; width: 20%; z-index: 180; min-width: 271px;}
.main_top>.mv_laetitia{right: 20%; top: 33%; width: 11%; z-index: 500; min-width: 175px;}
.main_top>.mv_fiat{right: 22%; top: 37%;width: 42%; z-index: 110; min-width: 545px;}
.main_top>.mv_subtit{right: 12%; top: 0; width: 7%;z-index: 200; min-width: 51px;}
.main_top>.mv_credits{width: 52.5%; bottom: 3%; left: 35%; z-index: 999; min-width: 550px;}
.main_top>.mv_hit{right: 4%; bottom: 20%; width: 17%; z-index: 600; min-width: ;}

/*배너 및 홍보문구*/
.main_top>.banner{position: absolute;width: 22%; left: 8%; bottom: 2%;}
.main_top>.banner>a{display: block; margin-bottom: 3%;}
.main_top>.banner>img{width: 50%; margin-left: 22%;}


/*nav*/
.main_top>nav{position: absolute; left: 13%; top: 53%;min-width:405px; }
.main_top>nav>ul{position: absolute; min-height:180px;}
.main_top>nav>ul>li{position: absolute;width: 100%; min-width:405px;background-size:auto; background-repeat: no-repeat; left: 0; top: 0; }
.main_top>nav>ul>li:nth-child(1){background-image: url(../main_img/nav_news_off.png); left: 0; top: -5%;transform: rotate(5deg);}
.main_top>nav>ul>li:nth-child(2){background-image: url(../main_img/nav_theaters_off.png); left: 5%; top: 18%;transform:rotate(4deg);}
.main_top>nav>ul>li:nth-child(3){background-image: url(../main_img/nav_about_off.png); right:8%; top: 37.5%; transform: rotate(0deg); z-index: 90;}
.main_top>nav>ul>li:nth-child(4){background-image: url(../main_img/nav_trailer_off.png); left: 5%;top: 55%; transform: rotate(-5deg); z-index: 80;}
.main_top>nav>ul>li:nth-child(5){background-image: url(../main_img/nav_history_off.png); top: 77%; left: 10%; transform:rotate(-6deg);}
.main_top>nav>ul>li>a{display: block; height: 100%; min-height: 36px; text-indent: -9999px;transition: all 0.2s;}

/*nav hover*/
.main_top>nav>ul>li:hover>a{transform:scale(1.1);} 
.main_top>nav>ul>li:nth-child(1):hover>a{background-image: url(../main_img/nav_news_on.png);}
.main_top>nav>ul>li:nth-child(2):hover>a{background-image: url(../main_img/nav_theaters_on.png); }
.main_top>nav>ul>li:nth-child(3):hover>a{background-image: url(../main_img/nav_about_on.png); }
.main_top>nav>ul>li:nth-child(4):hover>a{background-image: url(../main_img/nav_trailer_on.png); }
.main_top>nav>ul>li:nth-child(5):hover>a{background-image: url(../main_img/nav_history_on.png); }

/*오른쪽 퀵메뉴*/
.main_top>.right_mnu{position: absolute; width: 150px;top: 15%; right:1%;}
.main_top>.right_mnu>li{width: 100%; background-repeat: no-repeat; background-size: cover; margin-bottom: 10px;}
.main_top>.right_mnu>li:nth-child(1){background-image: url(../main_img/right_btn_1.png);}
.main_top>.right_mnu>li:nth-child(2){background-image: url(../main_img/right_btn_2.png);}
.main_top>.right_mnu>li:nth-child(3){background-image: url(../main_img/right_btn_3.png);}
.main_top>.right_mnu>li>a{display: block;height: 150px; text-indent: -9999px;}

/*trailer*/
.tvcm{position: relative;min-width:1200px; min-height:840px; background-image: url(../main_img/bg_trailer.jpeg); background-size: cover;}
.tvcm>h2{position: absolute; left: 50%; top: 2%;margin-left: -300px;z-index: 100;width: 600px; height: 88px;background-image: url(../main_img/title.png); background-size: cover; text-indent: -9999px;}

.tvcm>.cm{position: absolute; width: 960px;left: 50%;margin-left: -480px;}
.tvcm>.list{display:flex;justify-content:center; bottom: 5%;}
.tvcm>.list>li{background-image: url(../main_img/btn_off.png); padding: 25px 38px; }

.tvcm>.list>li:hover{background-image: url(../main_img/btn_hover.png);}
.tvcm>.list>li.on{background-image: url(../main_img/btn_active.png);}

.tvcm>.list>li>a{display: block; color: #fff; font-size: 24px; font-weight: 600; text-align: center; line-height: 10px;}

.tvcm>.video{top: 15%;}
.tvcm>.video>.video_slides{overflow: hidden; position: relative; height: 540px; }
.tvcm>.video>.video_slides>.video_wrap{position: absolute; left: 0; top: 0; width: 4800px; height: 540px;}
.tvcm>.video>.video_slides>.video_wrap>#player{float: left; width: 960px;}



.history{min-width:1200px;}
.history>.his_bg{background-image: url(../main_img/bg_history.jpeg); background-size: 100% auto; background-repeat:repeat-y; background-attachment: fixed;}
.history>.his_bg>.his_list{width: 80%; margin: 0 auto; padding: 5%  0 0;}